In [1]:
import sqlite3

In [2]:
connector = sqlite3.connect('data/dzidzi.db')
cursor = connector.cursor()

query = '''
CREATE TABLE masinos (
    marke VARCHAR(255), 
    modelis VARCHAR(255), 
    spalva VARCHAR(255), 
    pagaminimo_meatai VARCHAR(255), 
    kaina INTEGER
);
'''
cursor.execute(query)
connector.commit()
connector.close()