In [12]:
import sqlite3

In [17]:
connector = sqlite3.connect('data/zmones.db')
cursor = connector.cursor()

query = '''
CREATE TABLE IF NOT EXISTS draugai (
    first_name VARCHAR(50), 
    last_name VARCHAR(255), 
    email VARCHAR(255)
);
'''
cursor.execute(query)
connector.commit()
connector.close()

In [39]:
query = '''
INSERT INTO draugai 
    (first_name, last_name, email) 
    VALUES 
    ("Smagus", "Gerulis", "gerulis@gmail.com");
'''

# context manegeris atidaro DB, atlieka reikiamus comit ir uzdaro
with connector:
    connector.cursor().execute(query)

In [34]:
# query = '''
# DELETE TABLE draugai;
# '''
# connector = sqlite3.connect("data/zmones.db")
# with connector:
#     connector.cursor().execute(query)

OperationalError: near "TABLE": syntax error

In [32]:
# skaitom DB (po viena)
with connector:
    # kursoriu reikia pasiimti i kintamaji, nes jame nugula rezultato generatorius
    cursor = connector.cursor()
    cursor.execute("SELECT * FROM draugai;")
    print(cursor.fetchone())

('Smagus', 'Gerulis', 'gerulis@gmail.com')

In [51]:
# nuskaitome visus duomenis i sarasa su .fetchall()
with connector:
    cursor = connector.cursor()
    cursor.execute("SELECT * FROM draugai;")
    print(cursor.fetchall())

[('Smagus', 'Gerulis', 'gerulis@gmail.com')]

In [46]:
# taisom situacija
with connector:
    cursor = connector.cursor()
    cursor.execute("DELETE FROM draugai WHERE rowid > 1;")
    cursor.execute("SELECT * FROM draugai;")
    print(cursor.fetchall())

[('Smagus', 'Gerulis', 'gerulis@gmail.com')]

In [50]:
# irasu atnaujinimas
with connector:
    cursor = connector.cursor()
    cursor.execute('UPDATE draugai SET first_name="Zalias" WHERE last_name="Programuotojas";')
    cursor.execute('SELECT * FROM draugai;')
    print(cursor.fetchall())

[('Smagus', 'Gerulis', 'gerulis@gmail.com')]

In [56]:
nauji_draugai = [
    ('Naujas', 'Draugelis', 'naujas@draugelis.lt'),
    ('Grazi', 'Mergaite', 'grazuole@gmail.com'),
    ('Senas', 'Diedulis', 'diedux@yahoo.com'),
]

with connector:
    cursor = connector.cursor()
    cursor.executemany('INSERT INTO draugai VALUES (?, ?, ?)', (nauji_draugai))

In [58]:
ids = (1, 3, 5, 7)

with connector:
    cursor = connector.cursor()
    cursor.execute('SELECT rowid, * FROM draugai WHERE rowid IN (?, ?, ?, ?)', ids)
    draugai = cursor.fetchall()
    for draugas in draugai:
        print(f'- {draugas}')

- (1, 'Smagus', 'Gerulis', 'gerulis@gmail.com')
- (3, 'Blogas', 'Hakeris', 'haxxxx@dark.net')
- (5, 'Grazi', 'Mergaite', 'grazuole@gmail.com')
- (7, 'Naujas', 'Draugelis', 'naujas@draugelis.lt')